*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.head {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px !important;
  }
  .logo {
    width: 100px;
    margin-bottom: 50px;
    
  }
  .header-head {
    font-size: 50px;
    color: #4D555A;
    margin-bottom: 0;
font-weight: 500;
   
  }
  .header-p {
    font-size: 18px;
    color: #999FA4;
    text-align: center;
    margin-top: 20px; 
   font-weight: 200;
   width: 50%;
   
  }
  
  .btn-head {
    outline: none;
    border: none;
    width: 200px;
    height: 50px; 
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    font-family: 'Bai Jamjuree', serif;
    cursor: pointer;
  }
  
  .btn-grn {
    background: #5DCCBB;
    box-shadow: 1px 7px 5px -4px rgba(88, 184, 167, 1);
    transition: all .3s;
    
  }
  
  .btn-grn:hover {
    background: #58B8A7;
  }
  
  .btn-grn:active {
    transform: translateY(.4rem);
  }
  
  .btn-blu {
    background: #8896FF;
    box-shadow: 1px 7px 5px -4px rgba(126, 135, 224, 1);
    transition: all .3s;
    animation: to-up-left 1.4s;
  }
  
  .btn-blu:hover {
    background: #7E87E0;
  }
  
  .btn-blu:active {
    transform: translateY(.4rem);
  }
  /* mobile design of header sec */
   @media only screen and (max-width: 900px) {
    .header-head{
        width: 70%;
        font-size: 30px;
        /* padding-left: 50px; */
        text-align: center;
    }
    .btn-head{
        width: 100%;
    }
  }

  /* keep track sec */
  .keep-track{
      padding-top: 120px;
      text-align: center;
  }
  .k-p{
    font-size: 18px;
    color: #999FA4;
    margin-top: 20px;
    
   font-weight: 200;
   width: 90%;
  }
  .k-h{
    font-size: 32px;
    color: #4D555A;
    margin-bottom: 0;
font-weight: 500;
  }
  @media only screen and (max-width: 400px) {
    .keep-track{
      width: 100%;
    }
    .k-h  {
        
        font-size: 30px;
        text-align: center;
    }
    .k-h {
     
      font-size: 18px;
      text-align: center;
  }
  }
  
  /* the start of mac part */
  .mac{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 120px;
  }

.img-part {
    width: 200px;
    margin-left: -40px;
    filter: drop-shadow(5px 5px 5px #999FA4);
  }
  
  .text-part {
    width: 10%;
    padding-top: 50px;
    margin-left: 70px;
  }
  
  .text h2 {
    font-size: 30px;
    font-family: 'Bai Jamjuree', serif;
    color: #4D555A;
    margin: 0;
    margin-bottom: 16px;
  }
  
  .text p {
    color: #999FA4;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* padding: 0 80px 0 80px; */
  }
  /* the mobile design for mac */
  @media only screen and (max-width: 1100px){
    .mac{
        display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 0;
    }
    .img-part{
      margin-left: 0px;
    }
    .img-part img {
      width: 98%;
      margin: auto;
    }
    .text-part{
      margin-left: 0px;
      font-size: 10px;
    }
    .text-part .text{
      text-align: center;
      margin: auto;
      /* width: auto; */
      width: 100%;
      
    }

    .text{
    
      margin: auto;
    }
  }
@media only screen and (max-width: 1300px){
    .text{
        margin-left: 100px;
    }
}
@media only screen and (max-width: 1200px){
    .text{
        margin-left: 150px;
    }
}
@media only screen and (max-width: 400px){
  .text-part .text  h2{
    font-size: 32px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .text-part .text  p{
    font-size: 11px;
    width: 100%;
    line-height: 15px;
    
  }
}

/* the end of mac sec */
/* the start of acess sec */
.acess{
  text-align: center;
  margin-top: 120px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.a-p{
width: 90%;
color: #4D555A;
}
.a-img{
  margin-top: 50px;
}
/* mobile design for acess sec */
@media only screen and (max-width: 1100px){
  .a-img img {
    width: 98%;
    text-align: center;
   
  }
}
/* //////////////the end for the acess sec////////////////////// */
/* //////////////the start for supercharge sec////////////////////// */
.supercharge{
  margin-top: 120px;
  text-align: center;
}
.s-h{
  font-size: 30px;
  font-weight: 500;
}
.s-p{
  font-size: 15px;
  font-weight: 200;
  color: #4D555A;

}
.s-tex{
  margin-bottom: 120px;
}
.l-img {
margin-bottom: 50px;
}
.l-h{
  font-size: 25px;
    font-family: 'Bai Jamjuree', serif;
    color: #4D555A;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
}
.l-p{
  font-size: 16px;
    font-family: 'Bai Jamjuree', serif;
    color: #999FA4;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 200;
}
/* //////////////the end for supercharge sec////////////////////// */
/* //////////////the start for company sec////////////////////// */

.company{
  margin-top: 120px;
}
/* ///////the mobile design of company sec/////// */
@media only screen and (max-width: 800px){
  .c-logo{
   padding: 50px 60px ; 
  }
}
/* //////////////the end for company sec////////////////////// */
/* ///////////////the star for last sec/////////////////////// */
.last{
  padding-top: 120px;
  text-align: center;
}
.t-h{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
  font-family: 'Bai Jamjuree', serif;
    color: #4D555A;
}
.t-p{
  font-size: 16px;
  font-family: 'Bai Jamjuree', serif;
  color: #999FA4;
  margin-bottom: 16px;
  font-weight: 200;
}
/* ///////////////the end for last sec/////////////////////// */
/* ///////////////the star for footer sec/////////////////////// */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F5F6F8;
  padding: 6rem 13rem 2rem 13remd;
  margin-top: 120px;
}

.footer-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
}

.footer-img {
  width: 5rem;
  margin-right: 7rem;
}

.footer-lists, .footer-lists-2 {
  display: flex;
  list-style: none;
}

.footer-lists-2 {
  margin-top: 2rem;
}

.lists a {
  text-decoration: none;
  margin-right: 7rem;
}

.lists-2 a {
  text-decoration: none;
  margin-right: 4rem;
}

.lists a, .lists-2 a {
  font-size: 1.5rem;
  color: #75777B;
}
.lists:hover{
  text-decoration: none;
}

.iconic {
  display: flex;
  flex-direction: column;
}

.socicons {
  margin-left: 46rem;
  margin-top: 2.5rem;
}

.social {
  margin-right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #4C545C;
  
}

.social:hover {
  transform: rotateZ(360deg);
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  background-image: linear-gradient(to right bottom, #8134af, #992ea7, #ae289e, #bf2394, #ce238a, #e0317e, #ed4472, #f75868, #ff7a5f, #ff9b5c, #ffbb64, #feda77);

}
@media screen and (max-width: 1050px) {

  .lists a {
    margin-right: 3rem;
  }

  .lists-2 a {
    margin-right: 2rem;
  }
  .socicons {
    margin-left: 25rem;
  }
}
@media screen and (max-width: 880px) {

  .socicons {
    margin-left: 2.4rem;
  }
  .footer-img {
    margin-right: 2rem;
  
  }

}
@media screen and (max-width: 694px) {


  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .footer-img {
    margin: 0 0 3rem 0;
    width: 7rem;
  }

  .footer-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .footer-lists-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .lists, .lists-2 {
    margin-bottom: 2rem;
  }

  .footer-main a {
    margin: 0;
  }

  .iconic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    font-size: 3.5rem;
  }
}